<div>
    <h5>Project Quality Issues</h5>
    <div class="table-responsive" *ngIf="qualityIssues">
        <table class="table">
            <tbody>
                <tr *ngFor='let issue of qualityIssues'>
                    <td>
                        <span [ngClass]="{'button-warning button-circle' : issue.violationStatus=='WARNING'}"></span>
                        <span [ngClass]="{'button-danger button-circle' : issue.violationStatus=='ERROR'}"></span>
                        <span>{{issue.incidentStartDate}}</span>
                    </td>
                    <td>{{issue.qualityGuardName}}</td>
                    <td>{{issue.measureInstance}}</td>
                    <td>{{issue.conditionValue}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
