<div>
    <h5>Quality Issues</h5>
    <div class="table-responsive" *ngIf="qualityIssues">
        <table class="table">
            <tbody>
                <tr *ngFor='let issue of qualityIssues'>
                    <td>{{issue.qualityGuardName}}</td>
                    <td>
                        <div *ngIf="issue.violationStatus=='WARNING'"  class="guard-warning-sm"><span class="guard-date">Warning</span></div>
                        <div *ngIf="issue.violationStatus=='ERROR'"   class="guard-error-sm"><span class="guard-date">Error</span></div>
                    </td>
                    <td>{{issue.incidentStartDate}}</td>
                    <td>{{issue.measureInstance}}</td>
                    <td>{{issue.conditionValue}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
