<form [formGroup]="form" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" id="myQualityGuardLabel">Create or edit a Quality Guard </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" for="field_qualityGuardName">Quality Guard Name</label>
            <input type="text" class="form-control" name="qualityGuardName" id="field_qualityGuardName"
            		[(ngModel)]="qualityGuard.qualityGuardName" [ngModelOptions]="{standalone: true}"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <textarea rows="5" class="form-control" name="description" id="field_description"
            		[(ngModel)]="qualityGuard.description" [ngModelOptions]="{standalone: true}" ></textarea>
        </div>
        <div class="form-group">
        	<label class="form-control-label">Rules</label>
        	<div formArrayName="rules">
        		<div *ngFor="let rule of form.get('rules')['controls'];let i=index;">
        			<div [formGroupName]="i">
				        <div *ngIf="!qualityGuard.id;else other_case">
				        	<select class="form-control-customize" name="measureInstance" id="field_measureInstance" formControlName="measureInstance">
                                <option *ngFor="let measure of measures" value="{{measure.measureInstance +'::'+ measure.field}}">{{measure.measureInstance +'::'+ measure.field}}</option>
							</select>
							must be
					        <select class="form-control-customize" name="operator" id="field_operator" formControlName="operator" >
				                <option value="SUPERIOR">SUPERIOR</option>
				                <option value="INFERIOR">INFERIOR</option>
				            </select>
				            <input class="form-control-customize" type="number" name="warningValue" id="field_warningValue" placeholder="Warning Value" formControlName="warningValue" />
				        	<input class="form-control-customize" type="number" name="errorValue" id="field_errorValue" placeholder="Error Value" formControlName="errorValue" />
		                    <select class="form-control-customize" name="intervalAgregation" id="field_intervalAgregation" formControlName="intervalAgregation" >
					        	<option value="STRICT">STRICT</option>
					            <option value="MOY_MIN">BY MINUTE</option>
					            <option value="MOY_HH">BY HOUR</option>
					            <option value="MOY_DD">BY DAY</option>
					            <option value="MOY_WW">BY WEEK</option>
					            <option value="MOY_MM">BY MONTH</option>
					        </select>
					        <span *ngIf="form.get('rules')['controls'].length > 1" (click)="removeRule(i)">
	        				  <i class="fa fa-trash" style="font-size:2em;" aria-hidden="true" ></i>
		                    </span>
				        </div>
				        <ng-template #other_case>
				        		<input type="hidden" name="id" id="field_id" formControlName ="id"/>
				        		<select class="form-control-customize" name="measureInstance" id="field_measureInstance" formControlName="measureInstance">
					              <option *ngFor="let measure of measures" value="{{measure.measureInstance +'::'+ measure.field}}">{{measure.measureInstance +'::'+ measure.field}}</option>
					            </select>
					            <select class="form-control-customize" name="operator" id="field_operator" formControlName="operator" >
					              <option value="SUPERIOR">SUPERIOR</option>
					              <option value="INFERIOR">INFERIOR</option>
					            </select>
					            <input class="form-control-customize" type="number" name="warningValue" id="field_warningValue" placeholder="Warning Value" formControlName="warningValue" />
					        	<input class="form-control-customize" type="number" name="errorValue" id="field_errorValue" placeholder="Error Value" formControlName="errorValue" />
					            <select class="form-control-customize" name="intervalAgregation" id="field_intervalAgregation" formControlName="intervalAgregation" >
					                <option value="STRICT">STRICT</option>
					                <option value="MOY_MIN">MOY_MIN</option>
					                <option value="MOY_HH">MOY_HH</option>
					                <option value="MOY_DD">MOY_DD</option>
					                <option value="MOY_WW">MOY_WW</option>
					                <option value="MOY_MM">MOY_MM</option>
					            </select>
					            <span *ngIf="form.get('rules')['controls'].length > 1" (click)="removeRule(i)">
		        				  <i class="fa fa-trash" style="font-size:2em;" aria-hidden="true" ></i>
			                    </span>
				        </ng-template>
        			</div>
        		</div>
	        </div>
 	        <div style="margin-top:.5rem; margin-bottom:1rem;">
        		<button type="button" class="btn btn-secondary" (click)="addRule()">
			    	<span class="fa fa-primary"></span>&nbsp;<span>New Rule</span>
			    </button>
        	</div>
        	<div [hidden]="form.get('rules')['controls'].length == 1">
	            <label class="form-control-label" for="field_combinationMode">Combination Mode</label>
	            <select class="form-control" name="combinationMode" id="field_combinationMode" [(ngModel)]="qualityGuard.combinationMode" [ngModelOptions]="{standalone: true}">
	                <option value="OR">OR</option>
	                <option value="AND">AND</option>
	            </select>
	        </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
