<div style="width: 20rem;">
	<h5>Project Quality Guard</h5>
	<div class="table-responsive" *ngIf="qualityGuardsByProject">
        <table class="table">
            <tbody *ngFor='let qualityGuard of qualityGuardsByProject?.reverse()'>
                <tr>
                    <td>
                        <div>
                            <span [ngClass]="{'button-success button-circle' : qualityGuard.violation==null}"></span>
                            <span [ngClass]="{'button-warning button-circle' : qualityGuard.violation!==null && qualityGuard.violation.violationStatus=='WARNING'}"></span>
                            <span [ngClass]="{'button-danger button-circle' : qualityGuard.violation!==null && qualityGuard.violation.violationStatus=='ERROR'}"></span>
                            <span>{{qualityGuard.qualityGuardName}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
