<div class="container">
	<div class="jumbotron jumbotron-fluid">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-5 offset-sm-1 col-md-5 offset-md-1">
					<h2 class="display-5">Quality Guard Configuration</h2>
				</div>
				<div class="col-sm-3 offset-sm-3 col-md-3 offset-md-3">
					<button type="submit" class="btn btn-primary float-right" [routerLink]="[ '', { outlets: { popup: ['quality-guard-configuration-new'] } }]">
						<span class="fa fa-plus" aria-hidden="true"></span> <strong><span>New Guard</span></strong>
					</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="card">
		<h3 class="card-header">New Quality Guard</h3>
		<div class="card-block">
			<div class="container-fluid">
				<div class="table-responsive" *ngIf="qualityGuardsByProject">
					<table class="table table-striped">
						<thead>
							<tr>
								<th><span>Quality Guard Name</span></th>
								<th><span>Rule</span></th>
								<th>Schedule</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor='let qualityGuard of qualityGuardsByProject; let i = index' [attr.data-index]='i'>
								<td><span>{{qualityGuard.qualityGuardName}} </span></td>
								<td>
                                    <div *ngFor='let guardCondition of guardConditionsByProject let j = index' [attr.data-index]='j'>
										<div *ngIf="guardCondition.qualityGuard.id == qualityGuard.id">
											<span>{{guardCondition.measureInstance}}</span>
		                                    <span>{{guardCondition.operator}}</span>(
		                                    <span>{{guardCondition.warningValue}}</span>
		                                    <span>{{guardCondition.errorValue}}</span>)
										</div>
										<div *ngIf="qualityGuard.combinationMode && i==j"><span>{{qualityGuard.combinationMode}}</span></div>
                                    </div>
                                </td>
                                <td>
                                	<button type="btn-group flex-btn-group-container"
										[ngClass]="(qualityGuard.isSchedule == true)?'btn btn-danger btn-sm':'btn btn-success btn-sm'"
										(click)="(qualityGuard.isSchedule == true)?stopScheduling(qualityGuard.id):startScheduling(qualityGuard.id)">
										<i class="fa fa-power-off" aria-hidden="true"></i>
									</button>
								</td>
								<td>
									<div class="btn-group flex-btn-group-container">
										<button type="submit"
												[routerLink]="[ '', { outlets: { popup: 'quality-guard-configuration/' + qualityGuard.id +'/edit' } }]"
												replaceUrl="true"
                                				queryParamsHandling="merge"
                                				class="btn btn-primary btn-sm float-right">
											<i class="fa fa-pencil" aria-hidden="true"></i>
										</button>
										<button type="submit"
												[routerLink]="[ '', { outlets: { popup: 'quality-guard-configuration/' + qualityGuard.id + '/delete' } }]"
												replaceUrl="true"
                                				queryParamsHandling="merge"
                                				class="btn btn-primary btn-sm float-right">
											<i class="fa fa-trash" aria-hidden="true"></i>
										</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
