<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Quality Guard</h1>
        <p class="lead">Quality Guard is an Analysis tool of the Measure platform</p>
        <p>
                The quality guard analysis tool is a web application which allows to provide advance data analysis functionalities apply to data collected by the measure platform.
        </p>


    
    </div>
</div>
